body {
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.header{
    flex-basis: 30%;
    padding: 15px;
}

.header__logo img{
    margin-bottom: 50px;
    margin-top: 20px;
}

.header__logo figcaption {
    display: none;
}

.header__items .perfilPic {
    border-radius: 50px;
    width: 26px;
    height: 26px;
    padding-top: 2px;
}

.header__items img{
    max-width: 26px;
    padding-top: 5px;
}

.header__items a{
    text-decoration: none;  
    color: black;
    font-size: 20px;
    padding-left: 10px;
    line-height: 50px;
}

.header .paginaInicial {
    color: #1da1f2;
}

.main {
    flex-basis: 70%;
}

.main__title{}

.main__form {}

.main__form textarea {}

.main__form button{}

.feed{}

.feed__tweetList{}

.feed__tweet{}

.feed__tweet img{}

.feed__content {}

.feed__content h3 {}

.feed__content span{}

.feed__content p{}


